html,
body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #333;
}
.container {
  background: rgba(17, 17, 17, 0.637);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  margin: .5px;
  background: rgb(50, 50, 131);
  box-shadow: 0 0 4px rgba(17, 17, 17, 0.199);
  transition: 2s ease;
}

.dot:hover {
  transition: 0s
}